# Postgres (for Docker)
POSTGRES_DB=grit
POSTGRES_USER=grit-admin
POSTGRES_PASSWORD=password123
POSTGRES_PORT=5432

# Database Connection (for application)
DB_USER=grit-admin
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=grit

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Neo4j
NEO4J_DATABASE=neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=password123

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD